<h1>Capricorn</h1>

<p><%= @horoscope %></p>
<p>You could be on a real emotional high today because of your success and that of other household members, Capricorn. Your mind may be buzzing with ideas for future expansion, some of which may not be all that workable. However, you should allow yourself a few flights of fancy. Tomorrow your feet will be back on the ground and you will see things in a more practical light.</p>

<p>Your lucky numbers for today are:</p>

<ul>
  <% @array_of_numbers.each do |a_num| %>
    <li>
      <%= a_num %>
    </li>
  <% end %>
</ul>

