<h1>Cancer</h1>

<p><%= @horoscope %></p>
<p>Confirmation of professional success could come your way, Cancer, and you're probably feeling excited and motivated to keep pushing. But you may find that increased responsibilities interfere with your social life. You wonder if friends have forgotten you. They haven't, but it will make you feel better if you squeeze in a few hours for your friends each week. Remember what they say about all work and no play.</p>

<p>Your lucky numbers for today are:</p>

<ul>
  <% @array_of_numbers.each do |a_num| %>
    <li>
      <%= a_num %>
    </li>
  <% end %>
</ul>
